services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: jphw
      POSTGRES_PASSWORD: jphw
      POSTGRES_DB: jphw
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
